*{
    margin:0;
    padding:0;
    font-family:cursive;
    box-sizing: border-box;;
}

.hero{
    width:100%;
    min-height:100vh;
    background:linear-gradient(45deg,rgb(231, 9, 9),rgb(25, 169, 174));
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    color:rgb(253, 253, 252)
}

.hero h1{
    font-size:40px;
    font-weight:500;
    margin-top:-50px;
    margin-bottom: 50px;
}

.hero h1 span{
    color: rgb(36 217 77);
    font-weight:550;
}

textarea{
    width:450px;
    height:250px;
    color:mediumturquoise;
    background:rgb(0, 0, 0);
    font-size: 15px;
    border:0;
    outline:0;
    padding:20px;
    border-radius:35px;
    resize:none;
    margin-bottom:30px;
    

}

textarea::placeholder{
    font-size:16px;
    color:azure
}

.row{
    width:450px;
    display:flex;
    align-items:center;
    gap:20px;
}

button {
    background:#07e2e4;
    color:#fff;
    font-size:16px;
    padding:10px 15px;
    border-radius:35px;
    border:0;
    outline:0;
    cursor:pointer;
    display:flex;
    align-items:center;
}
button img{
    width: 16px;
    /* height:16px; */
    margin-top:5px;
    margin-right:5px;
}
select{
    flex:1;
    color:#fff;
    background:rgb(151 184 15);
    height:50px;
    padding:0 20px;
    outline:0;
    border:0;
   
    border-radius:35px;
    appearance: none;
    background-image:url(images/dropdown.png); 
    background-repeat:no-repeat;
    background-size:15px;
    background-position-x: 320px;
    background-position-y: 20px;
}
